.portfolioHeader {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../assets/portfolioBackground.webp");
}

.topDivider {
    height: 100px;
    width: 100%;
    background-color: rgb(40, 34, 34);
}

.bottomDivider {
    height: 70px;
    width: 100%;
    background-color: rgb(40, 34, 34);
}

.portfolioPic {
    position: absolute;
    overflow: hidden;
}